html {
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/**Globales**/

img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem; /** = 1200px **/
    margin: 0 auto;
}

/** Utilidades **/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-400 {
    font-weight: 400;
}

.centrado {
    text-align: center;
}

.d-block {
    display: block!important;
}

/**Botones**/

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #e08709;
}

.boton-verde {
    background-color: #71b100;
}

/* Header */

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;

}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem; 
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem; /** = 18px **/
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #71b100;
}

.navegacion a:last-of-type {
    margin: 0;
}


/** Iconos Nosotros **/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

/**anuncios**/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color:#f5f5f5; 
}

.contenido-anuncio {
    padding: 2rem 4rem;
}

.contenido-anuncio h3, .contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas li{
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/**Contacto Home **/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    
}

.contenido-contacto {
    flex: 1; /* Detecta cuanto tamaño hay disponible, cuantos elementos hay, y realiza la division de pixeles*/
    color: #ffffff;        /*y el resultado se lo asigna a cada uno de los elementos (ejemplo, si el contenedor posee 1000 pixeles y solo hay un elemento, se le asiganará ese espacio al unico elemento)*/
}

.contenido-contacto p {
    font-size: 2rem;
}

/** SECCION INFERIOR **/

.seccion-inferior {
    display: flex;
    justify-content: space-between;

}

.seccion-inferior .blog {
    flex-basis:  60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    color: #000000;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0%;
    line-height: 1.5;
}


.texto-entrada h4::after { /* Pseudoelemento*/
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;

}

.texto-entrada span {
    color: #e08709;
}